html, body{
	height: 100%;
}
body {
	padding: 0 10px 50px;
	background: #272727;
}
.header {
	background: url('./tellura.png') no-repeat center top;
	background-size: 700px;
	height: 360px;
}
.text{
	text-align: center;
}
.gameContainer {
	margin: 0 auto;
	width: 825px;
	position: relative;
	height: 615px;
	background: url('./frame.png') no-repeat;
}
#tellura {
	border: 0px transparent solid;
	position: absolute;
	left: 93px;
	top: 68px;
	margin: 0 auto;
	background: url('./background.png');
}
.controls {
	padding: 20px 25px 8px;
	height: 40px;
	line-height: 40px;
	vertical-align: center;
	text-align: right;
}
#soundVolume {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url('./sound.png');
	text-decoration: none;
}
#soundVolume.mute {
	background: url('./mute.png');
}
.github {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	text-decoration: none;
}
.gdp {
	position: absolute;
	left: 5px;
	bottom: 0;
	z-index: 1;
	text-decoration: none;
}
.github img, .gdp img {
	border: 0;
	opacity: 0.2;
}
.github:hover img, .gdp:hover img {
	opacity: 1;
}

@media only screen and (min-width: 1295px) {
	.header{
		display: none;
	}
	.text{
		background: url('./tellura.png') no-repeat center top;
		background-size: 480px;
		padding-top: 250px;
		margin-right: 815px;
	}
	.gameContainer {
		float: right;
	}	
}
