html, body{
	height: 100%;
}
body {
	padding: 10px 10px 50px;
	background: url('./Header.jpg') no-repeat #232323;
	background-size: 500px; 
}
.container {
	width: 852px;
	margin: 0 0 0 auto;
}
.gameContainer {
	position: relative;
	height: 638px;
	background: url('./cadre.jpg') no-repeat;
}
#tellura {
	border: 0px transparent solid;
	position: absolute;
	left: 106px;
	top: 79px;
	margin: 0 auto;
	background: url('./Fond.jpg');
}
.controls {
	padding: 32px 25px 15px;
	height: 54px;
	line-height: 54px;
	vertical-align: center;
	text-align: right;
}
#soundVolume {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url('./sound.png');
	text-decoration: none;
}
#soundVolume.mute {
	background: url('./mute.png');
}
.github {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	text-decoration: none;
}
.gdp {
	position: absolute;
	left: 5px;
	bottom: 0;
	z-index: 1;
	text-decoration: none;
}
.github img, .gdp img {
	border: 0;
	opacity: 0.2;
}
.github:hover img, .gdp:hover img {
	opacity: 1;
}
